.a1{
    color: aqua;
    font-size: 50px;
    background-color: brown;
}
.a2{
    background-color: aliceblue;
    color: plum;
    font-size: 30px;
}
.a3{
    background-color: aliceblue;
    width: 5cm;
    height: 5cm;
}